option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .next/static
    /public: public
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
