option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.19.1
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .next/static
    /public: public
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
  aws:elbv2:listener:80:
    Protocol: HTTP
  aws:elbv2:loadbalancer:
    IdleTimeout: 60
