container_commands:
  01_install_deps:
    command: "npm ci --only=production"
    cwd: "/var/app/staging"
    leader_only: true
  02_build_app:
    command: "npm run build"
    cwd: "/var/app/staging"
    leader_only: true
  03_fix_permissions:
    command: "chown -R webapp:webapp .next"
    cwd: "/var/app/staging"
    leader_only: true