option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "/"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
    HealthCheckURL: "/"
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Health
    Timeout: PT30M

commands:
  01_setup_logging:
    command: "mkdir -p /var/log/nodejs"
    ignoreErrors: true
  02_fix_log_permissions:
    command: "chmod 755 /var/log/nodejs"
    ignoreErrors: true
