option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: development
    PORT: 8081
    DEBUG: "fit-india-website:*"
    LOG_LEVEL: debug
    NEXT_PUBLIC_APP_URL: https://dev-fit-india-website.ap-south-1.elasticbeanstalk.com
    ENVIRONMENT: development
    NEXT_PUBLIC_ENV: development
    NEXT_PUBLIC_DEBUG: true
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
    
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance