option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    Cooldown: 360
    
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Unit: Percent
    UpperThreshold: 80
    LowerThreshold: 40
    ScaleUpIncrement: 1
    ScaleDownIncrement: -1
    BreachDuration: 5
    Period: 5
    EvaluationPeriods: 1
    Statistic: Average
    
  aws:elasticbeanstalk:environment:loadbalancer:
    HealthCheckPath: /api/health
    HealthyThreshold: 3
    UnhealthyThreshold: 5
    Interval: 30
    Timeout: 5
    
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health